.shadow {
	/* border-radius: 1px; */
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
}
  
.opacity-0{
	opacity: 0 !important;
}

.blur{
	filter: blur(5px);	
	-ms-filter: blur(5px); 
	filter:progid:DXImageTransform.Microsoft.Blur(pixelradius='5', shadowopacity='0.0');
}

.blur {
	opacity: 0.1;
}

.left {float: left;}
.right {float: right;}

.center-hv {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.center-h {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
}