
/* Print */
@media print{
	@page {
		size: landscape;
		margin: 5mm 5mm 5mm 5mm; /* change the margins as you want them to be. */
	}

	body, .maintable, .navbar, tr, td, th, 
	.clickable, .footer, .maintable .currentTimeFull, 
	.dark .maintable .currentTimeFull{
		background: none !important;
	}

	.footer {
		color: rgb(46, 46, 46) !important;
	}

	.maintable tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	.bar, #storageControl, #networkStatus{
		display: none !important;
	}

	.container{
		width: 98%;
	}

	.maintable{
		width: 99%;
		margin-left: auto;
		margin-right: auto;
		font-size: 0.86em;
	}

	.maintable .item{
		padding: 1.5px;
	}

	.maintable tr.header > th{
		border: 1px solid #565656;
	}

	td, th, tr, body, .item, .clickable, h1, #status, .copyright{
		color: #000000 !important;
	}
	
	.clickable{
		font-style: italic;
		border: none !important;
	}

	h1{
		margin: 0 !important;
	}

	.copyright_small{
		font-size: 0.9em;
	}

	.print-only{
		display: initial;
	}

	.print-hide{
		display: none !important;
	}

	.navbar{
		box-shadow: none;
		margin-bottom: 0;
	}

	.navbar__title,
	.navbar-info{
		white-space: nowrap;
	}

	.navbar__icon{
		display: none;
	}

	.border-top-blue{
		border: none !important;
	}

	.print-logo{
		margin: 0 10px;
	}

	.print-logo{
		display: inline-block;
		font-size: 1.5em;
	}

	.navbar__title{
		margin-left: 5px;
	}

	.shadow {
		box-shadow: none;
	}

	.navbar-copyright{
		width: auto;
	}
}