/* Widescreen support */
@media screen and (max-width: 1600px) {
	.container{
		width: 98%;
	}
}

/* Mobile support */
.mobile-only-flex	{ display: none; }

@media screen and (max-width: 768px) {
	.container{
		width: 100%;
		padding: 0;
	}
	.wideBtn {
		width: calc(100% - 10px) !important;
	}
	.modal{
		width: 100%;
		height: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		box-sizing: border-box;
		padding: 10px;
		-webkit-transform: none;
	   	transform: none;
		/* font-size: 14px; */
	}
	.modal .title{
		padding-left: 15px;
	}
	.modal .row {
		margin: 5px;
	 	margin-top: 15px;
	}
	.modal .desc {
		margin-left: 8px;
	}
	.modal .mdesc {
		margin-top: 40px;
		margin-left: 2px;
	}
	button:hover .text {
		width: inherit;
	}
	.tab-long-name{
		display: none;
	}
	.tab-short-name{
		display: inline;
	}
	.copyright{
		display: none;
	}

	.mobile-only		{ display: inline-block; }
	.mobile-only-flex	{ display: flex; }
	.desktop-only		{ display: none !important;}

	.navbar-buttons {
		top: 0;
		position: absolute;
		right: 0;
	}
	.navbar button {
		background: none;
		height: 52px;
		padding: 0;
	  	margin-left: 1px;
	}
	.navbar button .icon {
		background: rgb(239, 239, 239);
		color: #0a61cc;
	}
	.navbar button:hover .text span {
		opacity: 0;
	}
	
	.navbar button:hover .text {
		width: 0;
	}

	.footer {
		height: auto;
	}

	.footer .left{float: unset; margin: 5px;}
	.footer .center-h{position: inherit;float: unset; margin: 5px;}
	.footer .right{float: unset; margin: 5px;}
	.footer .button{position: inherit;float: unset; margin: 5px;}
}


@media screen and (max-width: 350px) {
	.smallscreen-hide, #btn_0{
		display: none !important;
	}
}