html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /* overflow: hidden; */
	outline-style: none !important;
	font-family: 'MS Sans Serif';
	cursor: url('95/nyan.cur'), auto; 
}

*{
	outline-style: none !important;
	text-shadow: none !important;
	border-radius: 0;
	font-family: 'MS Sans Serif' !important;;
}

body{
	background: #008080;
	font-family: 'MS Sans Serif';
}

.container{
	padding: 0;
}

.app{
	width: 600px;
	height: 400px;
}

.window, .modal, .footer{
	background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
	margin: 5px;
	border-radius: 0;
	color: #000;
	overflow: hidden;
}

.window .titlebar{
	background: #000080;
    background: -moz-linear-gradient(left, #000080 0%, #1084d0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000080), color-stop(100%, #1084d0));
    background: -webkit-linear-gradient(left, #000080 0%, #1084d0 100%);
    background: -o-linear-gradient(left, #000080 0%, #1084d0 100%);
    background: -ms-linear-gradient(left, #000080 0%, #1084d0 100%);
    background: linear-gradient(to right, #000080 0%, #1084d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#1084d0', GradientType=1 );
    color: white;
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 12px;
	height: 20px;
	position: relative;
}

.icon, .title, .navtitle, .btn{
	height: 20px;
    display: inline-block;
}

.icon2{
    padding: 2px;
	padding-right: 2px;
}

.title, .navtitle{
	vertical-align: super;
}

button:after, .clickable:after{
	content: '';
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

button:not([disabled]):hover:active:after,
.clickable:not([disabled]):hover:active:after,
.clickable .selected:after,
button.selected:after {
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

button:before,
.clickable:before {
	right: 0px;
	top: -3px;
}
button:hover:active:before, .clickable:hover:active:before {
	right: -1px;
	top: -2px;
}

button:hover:active, .clickable:hover:active {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-position: 0 0;
}

.item_linebreak_disabled{
	display: none;
}

.float-right{
	display: inline-block;
    float: right;
}

.btn, .modal button.btn{
	width: 16px;
	height: 16px;
	text-align: center;
	float: right;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px !important;
	padding: 0;
	background-position: -1px -1px;
	border-style: solid;
	/* background: #c0c0c0; */
}

.modal button.btn{
	background: #c0c0c0;
}

.btn_x{
	background-image: url("95/btn_x.png") !important;
}

.btn_help{
	background-image: url("95/btn_help.png") !important;
}

button, .clickable{
	padding: 0;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: #c0c0c0;
    color: #000 !important;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: relative;
	padding: 3px;
}

.navbar-buttons > button{
    background: #c0c0c0 !important;
}

.navbar button .text {
    color: #000 !important;
}

.clickable{
	cursor: pointer;
    background: #b1b1b1 !important;
    color: #000 !important;
}

.navbar{
	background-color: transparent;
}

.active:after {
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.active::before {
	right: -1px;
	top: -2px;
}

.active {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.inside, select{
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-radius: 0;
	background: #EEE;
}

.outside{
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

pre{
    background: white;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



#maintable{
	width: 100%;
	border-collapse: collapse;
}

.separator, .tab-short-name{
	display: none;
}

.tabs, .content{
	padding: 3px;
}

.size-a{
	display: inline-block;
	width: 29.7%;
	height: 48px;
}

.size-b{
	display: inline-block;
	width: 67%;
	height: 48px;
}

b{
	margin: 5px;
}

.item{
	overflow: hidden;
    padding: 5px;
}

.maintable tr, .maintable td{
	border: 1px solid #848484;
}

.navbar{
	margin-bottom: 0;
}

.navbar-button{
	border-style: none;
	color: #fafafa;
}

.navbar-button-expand{	 
	max-width: 2.8em;
	padding: 0;
  	margin: 0;
	width: 3em;
	transition: all 0.4s;
	white-space: nowrap;
	overflow: hidden;
}

.navbar-button-expand:hover{	
	max-width: 300px;
	width: auto;
	transition: all 0.4s;
}

.navbar-button-expand span{	 
	font-size: 2em;
}

.navbar-buttons{
	float: right;
}

.navbar-copyright2{
	display: none;
}

/*
#preferences{
	display: none;
	width: 600px;
	z-index: 99999;
	position: absolute;
	left: calc(calc(100% - 600px) / 2);
	top: 10%;
	min-width: 600px;
}


#preferences > button{
	padding: 5px;
	margin: 5px;
}
*/

.loader{
	background: #000;
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99999;
}

.loader > img{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}



.container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.box-text{
	background: none;
	margin-top: 0;
}

.shadow{
	box-shadow: none !important;
}

.left-bar, .right-bar{
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

.maintable .header {
    text-align: center;
    background-color: #757575;
}

.maintable .currentTimeFull {
    background-color: rgba(165, 165, 165, 0.33) !important;
}

.maintable td:hover {
    background-color: rgba(165, 165, 165, 1) !important;
    box-shadow: none !important;
}

.navbar button .icon {
	color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}

.modal button{
    border-style: solid;
}

.modal .preferences_default_big {
	color: #fff;
}

.modal .mdesc {
    margin-top: 0px;
}

.modal button:hover {
	box-shadow: none;
    transform: none;
}

@media screen and (max-width: 768px) {
	.container{
		width: 90%;
	}

	.left-bar, .right-bar{
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.navbar button .icon {
		background-color: transparent;
		color: none;
	}
}


@media screen and (max-width: 1600px) {
	.container{
		width: 100%;
	}
}

#android_instruction{
	color: white !important;
}

.android-step-no {
    background: #060606;
    border-style: dashed;
}

/* dni technika ad */
.wcontent > #dnitechnika_ad{	
    background-color: transparent !important;
    color: black !important;
}

.wcontent > #dnitechnika_ad > a{	
	color: rgb(0, 47, 255) !important;
    font-size: 1.5em;
}



.day_selector_container{
	display: block;	
}

.tabs{
	background: none;
	border-radius: 0;
    padding-top: 10px;
}

.tabs a{
    border-width: 1px;
    border-style: outset;
    border-bottom: none;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #b2b2b2;
    color: #eaeaea;
	border-color: #888888;
	
    padding: 5px 13px;
    margin: -4px;
}


.tabs a.active{
    color: #fff;
    background: #757575;
	font-weight: 900;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	
    box-shadow: inset 1px 1px 1px 1px #000;
    z-index: 3;
}


.mobile-only{
    line-height: 1;
}