body{
	/* background: radial-gradient(circle, rgba(13,15,39,1) 0%, rgba(25,29,78,1) 100%); */
    background: #0c0c0c;    
    background-repeat: repeat-x;
    background-position: bottom;
    background-attachment: fixed;
    background-image: url("../christmas/trees.png");
}

.shadow{
    box-shadow: 0 10px 30px rgba(6, 13, 35, 0.03), 0 1px 8px rgba(5, 26, 45, 0.24);
}

.maintable{
    background: #202020;
    color: #f2f2f2;
}

.maintable td, .maintable th {
    border: none;
}

.maintable tr{
    border: 1px solid #4f4f4f;
}

.maintable .header {
    background-color: #4f4f4f;
    color: #fafafa;
}

.maintable .currentTimeFull {
    background-color: rgba(0, 0, 0, 0.08) !important;
}

.maintable td:hover {
    background-color: rgb(186, 76, 76) !important;
    color: #fafafa;
}

.maintable tr:nth-child(even) {
    background-color: #323232;
}

.maintable .clickable {
    background-color: #b23033;
    padding: 6px !important;
    margin: 0;
}

.clickable:nth-child(1){
    background: #202020;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    color: #cccccc;
}

.clickable:nth-child(2){
    background: #202020;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border-left: 1px solid #414141;
    color: #cccccc;
}

.maintable .clickable:hover {
    color: #ffffff;
    background: #686868;
}


/* Universal tweaks */
.footer{
    background: #ba4c4c;
}

.navbar-container{  
    background-color: #212121;
}

.navbar {
    background-color: #212121;
}

.navbar-title{
    color: #c0c0c0;
    font-weight: 600;
}

.navbar-info {
    color: #c0c0c0;
}

.navbar button .icon{
    color: #c0c0c0;
    background: transparent !important;
}

.navbar button .text{
    color: #c0c0c0;
}
    
.navbar button {
    background: transparent;
}

.maintable .border-top-blue {
    border-top-color: #ba4c4c;
}


/* Only on mobile */
@media screen and (max-width: 768px) {
    select{
        color: #e6e6e6;
        background: #545454;
        border: 1px solid #7b7b7b;
    }

    .box-text{
        background-color: #545454;
        color: #e1e1e1;
    }

    .box-text a{
        background-color: #545454;
        color: #e1e1e1;
    }

    .tabs{
        background: #545454;
    }

    .tabs a{
        color: #c8c8c8;
    }

    .tabs a.active{
        background: #ba4c4c;
    }
}


/* Only on desktop */
@media screen and (min-width: 768px) {

    .container{
        min-height: 100vh;
        padding: 0;
        padding-bottom: 25%;
    }
    
    /* Navbar */
    .navbar-container{  
        width: 100vw;
        position: absolute;
        left: 0;
        position: fixed;
    }

    .navbar {
        margin-bottom: 0px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar button {
        background: transparent;
    }
    /* Navbar End */


    .box-text {
        color: #c0c0c0;
        background: #0c0c0c;
        border-radius: 1px;
        margin-top: 0;
        margin-bottom: 0;
        width: 25%;
        float: right;
        padding: 30px;
        padding-top: 80px;
    }

    .box-text a {
        color: #c0c0c0;
    }

    .bar {
        margin-top: 0;
        background: #0c0c0c;
        margin-bottom: 0;
        padding: 30px;
        padding-bottom: 10px;
        padding-top: 80px;
    }

    .footer {    
        background: transparent;
        position: fixed;
        width: calc(100% - 80px);
        padding: 40px;
        z-index: -1;
    }
    
    /* Select */
    select{
        color: #c0c0c0;
        background: #0c0c0c;
        border: 2px solid #c0c0c0;
    }
    
    .unitsContainer{
        margin: 10px !important;
        width: 33% !important;
    }
    
    .teachersContainer{
        margin: 10px !important;
        width: 66% !important;
    }
    
    .roomsContainer{
        margin: 10px !important;
        width: 33% !important;
    }
    
    .unitsContainer::before{
        content: "Klasa";
        font-size: 1.5em;
        font-weight: 600;
        color: #c0c0c0;
    }
    
    .teachersContainer::before{
        content: "Nauczyciel";
        font-size: 1.5em;
        font-weight: 600;
        color: #c0c0c0;
    }
    
    .roomsContainer::before{
        content: "Sala";
        font-size: 1.5em;
        font-weight: 600;
        color: #c0c0c0;
    }
    /* Select end */
}
