select{
	padding: 5px;
	font-size: 1em;
	border-radius: 3px;
    border: 1px solid rgb(191, 191, 191);
}

.bar{
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	overflow: visible;
}