.tabbedModal {
    --modal-background: #3268bf;

    --header-primary: #3268bf;
    --header-primary-border: #72a3ef;
    --header-button-close-hover-background: #4f93e8;

    --menu-background: #4977bd;
    --menu-item-hover-background: #5c8ad0;
    --menu-item-selected-background: #558ce2;
    --menu-item-font-color: #fbfdff;
    --menu-item-selected-font-color: #fff;

    --content-background: #558ce2;
    --content-font-color: #fafafa;

    --input-slider-bg: #456eaf;
    --input-slider-active-bg: #92bcff;

    --input-button-background: none;
    --input-button-font-color: #FAFAFA;
    --input-button-hover-background: #ffffff29;

    --input-content-button-border: #ffffff96;
    --input-content-button-active-background: #fff;
    --input-content-button-active-font-color: #002764;

    --input-select-text-color: #EEE;
    --input-select-background: #3962a0;
    --input-select-border: #bfbfbf00;
}

.tabbedModal>* {
    display: flex;
}

.tabbedModal {
    width: 880px;
    background: var(--modal-background);
    padding: 0;
    border-radius: 5px;
    z-index: 250;
    color: var(--content-font-color);
    position: fixed;
    flex-flow: row wrap;
    overflow: hidden;
    border: 1px solid var(--modal-background);
}

.tabbedModal button {
    background: var(--input-button-background);
    border-style: none;
    font-size: 1em;
    color: var(--input-button-font-color);
    padding: 8px 10px;
    height: 100%;
}

.tabbedModal button:hover {
    background: var(--input-button-hover-background);
    cursor: pointer;
}


.tabbedModal .content_btn {
    border: 1px solid var(--input-content-button-border);
    padding: 9px;
    font-size: 1em;
    margin-top: 8px;
}

.tabbedModal .content_btn:active {
    background: var(--input-content-button-active-background);
    color: var(--input-content-button-active-font-color);
}


.tabbedModal .row {
    flex: 1 100%;
}

.tabbedModal .row .sectionList {
    flex: 1 30%;
    flex-wrap: wrap;
    min-height: 330px;
}

.tabbedModal .sectionHeader, .tabbedModal .sectionheader {
    margin-top: 0;
}

.tabbedModal label {
    margin-right: 8px;
}

.tabbedModal .row .sectionContent {
    flex: 1 65%;
    background: var(--content-background);
    padding: 20px;
}

.tabbedModal .row .sectionContent .row {
    flex-wrap: wrap-reverse;
    margin: 10px;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.tabbedModal .row .sectionList {
    background: var(--menu-background);
}

.tabbedModal .row .sectionList .listItem {
    flex: 1 100%;
    padding: 10px 10px;
    cursor: pointer;
    color: var(--menu-item-font-color);
}

.tabbedModal .row .sectionList .listItem:hover {
    background: var(--menu-item-hover-background);
}


.tabbedModal .row .sectionList .listItem.active {
    background: var(--menu-item-selected-background);
    color: var(--menu-item-selected-font-color);
    font-weight: 500;
}

.dark .tabbedModal .row select {
    color: var( --input-select-text-color);
    background: var(--input-select-background);
    border: 1px solid var(--input-select-border);
}

.tabbedModal .row.header {
    background: var(--header-primary);
    align-items: center;
    justify-content: space-between;
    align-content: center;
    height: 45px;
    border-bottom: 3px solid var(--header-primary-border);
    overflow: hidden;
}

.tabbedModal .close {
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.3em;
    float: right;
}

.tabbedModal .close:hover {
    background: var(--header-button-close-hover-background);
    cursor: pointer;
}

.tabbedModal .title {
    font-size: 1.4em;
    height: fit-content;
    padding-left: 10px;
    font-weight: 300;
}

.tabbedModal .btn-primary {
    font-weight: 600;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.menuCheck {
    display: none;
}

.tabbedModal .slider {
    background-color: var(--input-slider-bg);
}

.tabbedModal input:checked+.slider {
    background-color: var(--input-slider-active-bg) !important;
}

.tabbedModal>.row:last-of-type {
    background: var(--header-primary);
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    width: 100%;

    border-top: 3px solid var(--header-primary-border);
}

.tabbedModal.hide-animation{
    animation: modal-in-out 0.9s ease-in-out;
    animation-direction: reverse;
    opacity: 0;
}

.tabbedModal>.row:last-of-type:empty {
    height: 0;
}

@keyframes modal-in-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-content-in {
    from {
        max-height: 0px;
    }
    to {
        max-height: 600px;
    }
}

@keyframes modal-content-out {
    from {
        max-height: 600px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes modal-content-in-mobile {
    from {
        opacity: 0;
        left: 100vw;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes modal-content-out-mobile {
    from {
        left: 0;
        opacity: 1;
    }
    to {
        left: 100vw;
        opacity: 0;
    }
}

/* desktop */

@media screen and (min-width: 768px) {
    .tabbedModal > .row.menu_and_content {
        overflow: hidden;
        animation: modal-content-in 1s cubic-bezier(.25,.75,.5,1.25);
    }
    
    .tabbedModal.hide-animation > .row.menu_and_content {
        animation: modal-content-out 1s cubic-bezier(.25,.75,.5,1.25);
        max-height: 0px;
    }
}

/* mobile */

@media screen and (max-width: 768px) {
    .tabbedModal.anim-start {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
        will-change: transform;
    }

    .tabbedModal {
        width: 100%;
        height: 100%;
        overflow: scroll;
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        overflow: hidden;

        border-radius: 0;
        
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: transform 300ms ease-in-out;
        will-change: transform;
    }

    .tabbedModal>.row {
        align-items: center;
        flex-wrap: wrap;
    }
    .sectionContent h2 {
        display: none;
    }
    .menuCheck {
        display: block;
        font-size: 1.5em;
        margin-left: 14px;
        cursor: pointer;
    }
    .tabbedModal .row.menu_and_content{
        position: relative;
        height: 100%;
    }
    .tabbedModal .row .sectionList {
        position: absolute;
        left: 0;
        top: 0;
        width: 300px;
        z-index: 10;
        overflow: hidden;
        max-height: 100vh;
        min-height: 100vh;
        flex: 1;
        -webkit-transform: translateX(none);
        transform: translateX(none);
        transition: transform 300ms ease-in-out;
        will-change: transform;
        box-shadow: 2px 2px 9px 0px #06070a59;
    }
    .tabbedModal.hideMenu .row .sectionList {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;
        will-change: transform;
    }
    .tabbedModal .row .sectionContent {
        padding: 10px;
        height: 100%;
    }
    .tabbedModal>.row:last-of-type {
        position: absolute;
        bottom: 0;
    }
}