.tabbedModal > *{
	display: flex;
}

.tabbedModal{
    width: 880px;
    background: rgb(0, 39, 100);
    padding: 0;
    border-radius: 5px;
    z-index: 250;
    color: #fafafa;
    text-shadow: 1px 1px 1px #000;
    /* transform: scale(0.7) translate(-50%, -50%); */
    /* opacity: 0; */
    /* transition: all 0.3s; */
    position: fixed;
	flex-flow: row wrap;
	overflow: hidden;
}

.tabbedModal button{
	background: none;
	border-style: none;
    font-size: 1.1em;
    color: #FAFAFA;
    padding: 15px;
}

.tabbedModal button:hover{
    text-shadow: 1px 1px 4px #0000008c;
    background: #ffffff29;
    cursor: pointer;
}

.tabbedModal .row{
	flex: 1 100%;
}

.tabbedModal .row .sectionList{
    flex: 1 35%;
    flex-wrap: wrap;
    min-height: 400px;
}

.tabbedModal .sectionHeader,
.tabbedModal .sectionheader{
    margin-top: 0;
}

.tabbedModal label{
    margin-right: 8px;
}

.tabbedModal .row .sectionContent{
    flex: 1 65%;
    background: #104496;
    /* background: #041735; */
    padding: 20px;
}

.tabbedModal .row .sectionContent .row{
    margin: 10px;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.tabbedModal .row .sectionList .listItem{
	flex: 1 100%;
    background: #002764;
	padding: 15px;
	cursor: pointer;
}

.tabbedModal .row .sectionList .listItem:hover{
    background: #08357e;
}

.tabbedModal .row .sectionList .listItem.active{
    /* background: #041735; */
	background: #104496;
	font-weight: 900;
}

.dark .tabbedModal .row select {
    color: #EEE;
    background: #002c71;
    border-color: #001638;
    border: 1px solid rgba(191, 191, 191, 0);
}

.tabbedModal .close{
    top: 0;
    right: 0;
    padding: 19px;
    font-size: 1.5em;
    float: right;
}

.tabbedModal .close:hover{
	background: #0b60ca;
	cursor: pointer;
}

.tabbedModal .title{
	font-size: 2em;
	flex: 1 auto;
    padding: 15px;
}

.tabbedModal .preferences_default_big{
    text-align: center;
	width: 46px;
    height: 34px;
    padding: 12px;
    font-size: 2em;
    background: #2196f3;
    text-shadow: 1px 1px 1px #000;
    border-radius: 13px;
	line-height: 34px;
}

.tabbedModal .preferences_default_inactive{
    background: #ccc;
}

.tabbedModal .btn-primary{
	font-weight: 600;
}

.padding-5{
	padding: 5px;
}

.padding-10{
	padding: 10px;
}

.padding-15{
	padding: 15px;
}

.menuCheck{
    display: none;
}

.tabbedModal .content_btn{
    border: 1px solid #ffffff96;
    padding: 9px;
    font-size: 1em;
    margin-top: 8px;
}

.tabbedModal .content_btn:active{
    background: #e2e2e2;
    color: #002764;
}


/* mobile */
@media screen and (max-width: 768px) {
        
    .tabbedModal {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .tabbedModal > .row{
        align-items: center;
        flex-wrap: wrap;
    }

    .sectionContent h2{
        display: none;
    }

    .menuCheck{
        display: block;
        font-size: 2em;
        margin-left: 14px;
        cursor: pointer;
    }

    .tabbedModal:not(.hideMenu) .sectionContent{
        display: none;
    }

    .tabbedModal.hideMenu .sectionList{
        display: none;
    }

    .tabbedModal .row .sectionContent {
        padding: 2px;
    }

    .tabbedModal > .row:last-of-type{
        position: absolute;
        bottom: 0;
    }

}