.maintable {
	--table-bg: #fafafa;
	--table-text-color: black;

	--table-header-bg: #4c90dc;
	--table-header-border-color: #5287c1;
	--table-header-text-color: white;

	--table-row-first-top-border: #5589c5;

    --table-row-odd-bg: #eaeaea;
    --table-row-even-bg: #e4e4e4;

	--table-clickable-bg: #00000005;
	--table-clickable-color: #0b2f5a;
}

.maintable {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1%;
	background: var(--table-bg);
	color: var(--table-text-color);
}

.maintable td, .maintable th {
	border: 1px solid rgba(132, 132, 132, 0.25);
	padding: 5px;
	transition: 0.15s box-shadow, 0.15s background-color;
}

.maintable tr:nth-child(odd){ background-color: var(--table-row-odd-bg); }
.maintable tr:nth-child(even){ background-color: var(--table-row-even-bg); }


.maintable td:hover {
    background-color: rgba(255, 255, 255, 0.52) !important;
    box-shadow: 1px 1px 12px 0px rgba(58, 58, 58, 0.2);
}

.maintable tr:first-of-type > td {
	border: 1px solid rgba(255, 255, 255, 0.56);
}

.maintable tr.header {
	padding-top: 12px;
	padding-bottom: 12px;
    text-align: left;
    background-color: var(--table-header-bg);
	color: var(--table-header-text-color);
	font-weight: 600;
}

.maintable tr.header > th{
	position: sticky;
	top: 0;
    background-color: var(--table-header-bg);
    border-color: var(--table-header-border-color);
}

.maintable .item{
	padding: 4px;
	word-break: keep-all;
    margin: 2px;
	overflow: hidden;
}


/*
.maintable b{
	line-height: 200%;
}
*/

.maintable tr:not(.header) .currentTimeFull,        
.maintable tr:not(.header).currentTimeFull{        
	/* background-color: rgba(76, 144, 220, 0.14); */
	
    /* background: #d4dde8; */
    /* background: #cfd8e3; */
	background: #e2ebf6;
	
    text-shadow: 0px 0px 14px #fff;
}

.maintable .item_linebreak{
	height: 5px !important;
}

.maintable .item_linebreak_disabled{
	height: 0;
	width: 10px;
	display: inline-block;
}

.maintable .col_0{
	text-align: center;
}

.jumpButtons > .clickable:first-of-type{
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

    border: 1px solid #cecece;
    border-right: none;
}

.jumpButtons > .clickable:last-of-type{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
    border: 1px solid #cecece;
    border-left: none;
}

.maintable .clickable{
	cursor: pointer;
    background-color: var(--table-clickable-bg);
	padding: 3px;
	color:  var(--table-clickable-color);
}

.maintable .clickable:hover{
	background-color: #f9f9f9;
	color: rgb(59, 113, 171);
}

.maintable .override{    
	background: rgba(199, 0, 0, 0.78);
    color: #ffffff;
}

.maintable .override .clickable{
	background-color: rgb(119, 22, 22);
}

.maintable .override .clickable:hover{
	background: #fff;
	color: rgb(119, 22, 22);
}


.maintable .zMark{    
    margin-left: 10px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    background: white;
    color: #046edd;
}

.maintable .jumpButtons{
	display: inline-block
}

.maintable .float-right{
	float: right;
}

.maintable b.col-lesson-number {
    width: 16px;
    display: inline-block;
    text-align: left;
    margin-right: 3px;
}

.maintable .border-top-blue{
	border-top: 3px solid var(--table-row-first-top-border);
}