.maintable {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1%;
	background: #fafafa;
}

.maintable td, .maintable th {
	border: 1px solid rgba(132, 132, 132, 0.25);
	padding: 5px;
}

.maintable tr:nth-child(even){ background-color: #f2f2f2; }

/* .maintable tr:hover { background-color: #ddd; } */

.maintable td:hover {
	background-color: rgba(146, 199, 255, 0.33) !important;
	box-shadow: 1px 1px 12px 0px rgba(58, 58, 58, 0.5);
}

.maintable .header {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #046edd;
	color: white;
	font-weight: 600;
}

.maintable .item{
	padding: 4px;
	word-break: keep-all;
    margin: 2px;
	overflow: hidden;
}


/*
.maintable b{
	line-height: 200%;
}
*/

.maintable .currentTimeFull{
	background-color: rgba(123, 187, 255, 0.15) !important;
}

.maintable .item_linebreak{
	height: 5px !important;
}

.maintable .item_linebreak_disabled{
	height: 0;
	width: 10px;
	display: inline-block;
}

.maintable .col_0{
	text-align: center;
}

.maintable .clickable{
	cursor: pointer;
	background-color: rgb(51, 77, 226);
	padding: 3px;
	border-radius: 4px;
	color: #FAFAFA;
    margin-right: 5px;
}

.maintable .clickable:hover{
	cursor: pointer;
	background-color: #FAFAFA;
	padding: 3px;
	border-radius: 4px;
	color: rgb(51, 77, 226);
}

.maintable .override{    
	background: rgba(199, 0, 0, 0.78);
    color: #ffffff;
}

.maintable .override .clickable{
	background-color: rgb(119, 22, 22);
}

.maintable .override .clickable:hover{
	color: rgb(119, 22, 22);
}


.maintable .zMark{    
    margin-left: 10px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    background: white;
    color: #046edd;
}

.maintable .jumpButtons{
	display: inline-block
}

.maintable .float-right{
	float: right;
}

.maintable b.col-lesson-number {
    width: 16px;
    display: inline-block;
    text-align: left;
    margin-right: 3px;
}
